/*

!.gitignore

!/*.html

!/institutions_data.json
!/Stadtmauern_web.geojson

!/css/
!/js/
!/images/

!/prepare_data/

/prepare_data/*

!/prepare_data/geometries.geojson
!/prepare_data/actors.json
!/prepare_data/documents.json
!/prepare_data/zuenfte.tsv